.App-header {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding-top: 50px;
}

.footer{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  padding-top: 50px;
  position: fixed;
  bottom: 100px;
}